body {
    background-color: antiquewhite;
}
.head {
    margin-top: 50;
    margin-bottom: 30;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 75;
}
.topic {
    text-align: center;
    margin-bottom: 50;
    font-size: 45;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
p {
    font-size: 20;
}
div.title {
    position: absolute;
    top: 300px;
    right: auto;
    width: 200px;
    height: 200px;
    border: 3px solid red;
    columns: 300px;
}